In [ ]:
import pandas as pd
#데이터프레임을 만드는 방법 1
arr = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
idx = ["a","b","c"]
col = ["alpha","bravo","chalie"]
df = pd.DataFrame(arr,index=idx,columns=col)
df

   alpha  bravo  chalie
a      1      2       3
b      4      5       6
c      7      8       9

In [10]:
df[["alpha","bravo"]]

   alpha  bravo
a      1      2
b      4      5
c      7      8

In [13]:
df.iloc[0]

df.loc["a"]

alpha     1
bravo     2
chalie    3
Name: a, dtype: int64

In [18]:

df.loc["a"][df.loc["a"]<2]

alpha    1
Name: a, dtype: int64

In [ ]:
df.loc["b"][1] = 10

df

/tmp/ipykernel_18777/2308692728.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df.loc["b"][1] = 10
/tmp/ipykernel_18777/2308692728.py:1: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  df.loc["b"][1] = 10

   alpha  bravo  chalie
a      1      2       3
b      4     10       6
c      7      8       9

In [ ]:
#데이터프레임을 만드는 방법 2
arr = [
    {"첫번째":1,"두번째":2,"세번째":3},
    {"첫번째":4,"두번째":5,"세번째":6},
    {"첫번째":7,"두번째":8,"세번째":9}
]
type(arr)

pd.DataFrame(arr,index=idx)

   첫번째  두번째  세번째
a    1    2    3
b    4    5    6
c    7    8    9

In [ ]:
#데이터프레임을 만드는 방법 3
arr ={
    "첫번째":[1,4,7],
    "두번째":[2,5,8],
    "세번째":[3,6,9]
}

pd.DataFrame(arr,index=idx)

   첫번째  두번째  세번째
a    1    2    3
b    4    5    6
c    7    8    9

In [ ]:
#번외... 데이터프레임을 만드는 방법 4 with 넘파이
import numpy as np
arr = np.array([
    [1,2,3],
    [4,5,6],
    [7,8,9]
])

pd.DataFrame(arr,index=idx,columns=col)

   alpha  bravo  chalie
a      1      2       3
b      4      5       6
c      7      8       9

In [ ]:
df = pd.read_csv("study10.csv", )
idx = df['Unnamed: 0']

df.index =idx
df

In [ ]:
df = pd.read_excel("q3.xlsx",sheet_name="q2")
df

In [55]:
import pandas as pd
#데이터프레임을 만드는 방법 1
arr = [
    [1,2],
    [4,5],
    [7,8]
]
idx = ["a","b","c"]
col = ["alpha","bravo"]
df = pd.DataFrame(arr,index=idx,columns=col)
df

   alpha  bravo
a      1      2
b      4      5
c      7      8

In [72]:
data ={
    'name':["kim","park","lee"],
    "age":["17","18","19"]
}
df = pd.DataFrame(data)
df

   name age
0   kim  17
1  park  18
2   lee  19

In [75]:

df["name"]

df.loc[1]
df[['name']]

   name
0   kim
1  park
2   lee