In [78]:
#Q1. 1차원 배열 [1,2,3,4,5]에서 각각 10을 곱하여 2차원 배열로 만드시오.

arr1 = [1,2,3,4,5]
arr2 = []
for d in arr1:
    arr3 = []
    # print(f'{d} * 10 = {d * 10}')
    arr3.append(d)
    arr3.append(d * 10)
    arr2.append(arr3)
print(arr2)

[[1, 10], [2, 20], [3, 30], [4, 40], [5, 50]]

In [79]:
# Q1 문제를 numpy로 했을 경우

import numpy as np

arr4 = np.array(arr1)
print(type(arr1),arr1)
print(type(arr4),arr4)

print(arr4 * 10)

arr4[1]

<class 'list'> [1, 2, 3, 4, 5]
<class 'numpy.ndarray'> [1 2 3 4 5]
[10 20 30 40 50]

np.int64(2)

In [80]:
#Q2. 2차원 배열에서 각 열에 대한 목록을 출력하시오.
arr = [
    [1, "홍길동", 17],
    [2, "류관순", 16],
    [3, "강감찬", 78],
    [4, "이성계", 42],
    [5, "이황", 57]
]
arr2 = [
    [1,2,3,4,5],
    ["홍길동", "류관순", "강감찬", "이성계", "이황"],
    [17, 16, 78, 42, 57]
]

In [81]:
# Q2번 문제를 numpy로 했을경우

arr5 = np.array(arr)
print(type(arr5), arr5)
arr5[0][1]
arr5[0,1]
arr5[:,1]

<class 'numpy.ndarray'> [['1' '홍길동' '17']
 ['2' '류관순' '16']
 ['3' '강감찬' '78']
 ['4' '이성계' '42']
 ['5' '이황' '57']]

array(['홍길동', '류관순', '강감찬', '이성계', '이황'], dtype='<U21')

In [82]:
# Q3. 아래의 1차원 배열의 값의 평균값을 구하시오.
arr1 = [80,76,63,83,99,87,100,42,68,55]
np.average(arr1)

np.float64(75.3)

In [83]:
# Q3. 아래의 1차원 배열의 값의 평균값을 구하시오. 모범답안
arr1 = [80,76,63,83,99,87,100,42,68,55]
arr1
# 전체의 값을 더하고 전체의 갯를 나누면 평균값
전체합 = sum(arr1)
전체갯수 = len(arr1)
print(전체합, 전체갯수, 전체합 / 전체갯수)

TypeError: 'str' object is not callable

In [ ]:
#모법답안예시2

def 평균값(list):
    return sum(list) / len(list)

평균값(arr1)

In [ ]:
# Q4. 아래의 2차원 배열의 표에서 가장 점수가 높은 학생을 구하시오.
arr2 = [
    ["홍길동", 80],
    ["류관순", 76],
    ["강감찬", 99],
    ["이성계", 87],
    ["이황", 68]
]

tempArr = np.array(arr2)

max(tempArr[:,1])

np.str_('99')

In [ ]:
# Q4. 아래의 2차원 배열의 표에서 가장 점수가 높은 학생을 구하시오. 모범답안
arr2 = [
    ["홍길동", 80],
    ["류관순", 76],
    ["강감찬", 99],
    ["이성계", 87],
    ["이황", 68]
]
arr2
비교 = arr2[0]
print(비교)
for i in range(1,len(arr2)):
    # print(i, arr2[i])
    if 비교[1] < arr2[i][1]:  # 뒤쪽이 크면 참
        비교 = arr2[i]

print(비교[0])

In [ ]:
# Q5 아래의 1차원 배열을 이용하여 버블 방식으로 정렬하시오.
arr3 = [80,76,63,83,99,87,100,42,68,55]

for i in range(len(arr3)):
    for j in range(len(arr3) -1 -i):
        if arr3[j] > arr3[j+1]:
            temp = arr3[j]
            arr3[j] = arr3[j+1]
            arr3[j+1] = temp
print(arr3)

[42, 55, 63, 68, 76, 80, 83, 87, 99, 100]

In [ ]:
# Q6 옆사람과 서로 다른 문제를 만들고 풀어 보기 
# (11:47 ~ 12:00 각자 문제 만들고 12시부터 13시까지 풀고 13:20 코드 리뷰)

#myString을 myArray리스트에 각각 잘라서 넣으시오.
myString = "감자칩/새우깡/도리토스/건전지/양말"

print(myString)
myArray = myString.split('/')
print(myArray)

감자칩/새우깡/도리토스/건전지/양말
['감자칩', '새우깡', '도리토스', '건전지', '양말']

In [ ]:
#다음 소스 코드를 완성하여 리스트 a에 들어있는 문자열 중에서 길이가 7인 것들만 리스트 형태로 출력되게 만드세요(리스트 표현식 사용).


a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']
b = []
 
for i in range(len(a)):
    if len(a[i]) == 7:
        b.append(a[i])

print(b)

['charlie', 'foxtrot']

In [113]:
# 아래의 2차원 배열의 표에서 평균 값을 구한 후 평균 값 이상인 학생만 구하시오.
arr = [
    ["홍길동", 80],
    ["류관순", 76],
    ["강감찬", 99],
    ["이성계", 87],
    ["이황", 68]
]
cSum=0
for i in arr:
    cSum += i[1]

avg= cSum/len(arr)

for i in arr:
    if avg >i[1]:
        print(i)

['홍길동', 80]
['류관순', 76]
['이황', 68]

In [119]:
#아래 배열에서 홀수와 짝수를 따로 반환해 각 배열을 오름차순 정렬하여 출력한 뒤, 각 배열의 평균값을 구하시오.

arr = [18,44,87,35,15,24,79,12,55,47,47,98,5]

for i in range(len(arr)):
    for j in range(len(arr) -1 -i):
        if arr[j] < arr[j+1]:
            temp = arr[j]
            arr[j] = arr[j+1]
            arr[j+1] = temp
print(arr)

cSum = 0
for i in range(len(arr)):
    cSum += arr[i]

avg = cSum/len(arr)
print(avg)

[98, 87, 79, 55, 47, 47, 44, 35, 24, 18, 15, 12, 5]
43.53846153846154

In [ ]:
# 아래의 2차원 배열의 표에서 점수 평균을 구하시고, 가장 점수가 높은 학생과 가장 점수가 낮은 학생을 구하시오.

arr = [
    ["A", 79],
    ["B", 93],
    ["C", 75],
    ["D", 89],
    ["E", 81],
]

max = arr[0]

for i in range(len(arr)):