In [13]:
import pandas as pd
import numpy as np
pd.__version__

'2.2.3'

In [2]:
pd.Series([3.0,5.0,7.0,9.0,11.0])

0     3.0
1     5.0
2     7.0
3     9.0
4    11.0
dtype: float64

In [3]:
pd.Series(["가","나","다","라","마"])

0    가
1    나
2    다
3    라
4    마
dtype: object

In [6]:
sample = pd.Series([10,20,30,40,50],["가","나","다","라","마"])
sample

가    10
나    20
다    30
라    40
마    50
dtype: int64

In [9]:
sample[['나','라']]

나    20
라    40
dtype: int64

In [17]:
np.random.seed(20)
sample2 = pd.Series(np.random.randint(100, 200, size=(15,)))
sample2

0     199
1     190
2     115
3     195
4     128
5     190
6     109
7     120
8     175
9     122
10    171
11    134
12    196
13    140
14    185
dtype: int64

In [20]:
sample2[sample2 < 160]

2     115
4     128
6     109
7     120
9     122
11    134
13    140
dtype: int64

In [27]:
sample2[(130<sample2) & (sample2<170)]

11    134
13    140
dtype: int64

In [29]:
s = pd.Series(['마케팅', '경영', '개발', '기획', '인사'], index=['a', 'b', 'c', 'd', 'e'])

s[['a','d']]

a    마케팅
d     기획
dtype: object

In [32]:
s = pd.Series(['선화', '강호', np.nan, '소정', '우영'])
s

0     선화
1     강호
2    NaN
3     소정
4     우영
dtype: object

In [34]:
s.isna()

0    False
1    False
2     True
3    False
4    False
dtype: bool

In [41]:
c = pd.Series ([3,5,7,9,11])
type(c)
c

0     3
1     5
2     7
3     9
4    11
dtype: int64

In [44]:
c = pd.Series(['가','나','다','라','마'])
c

0    가
1    나
2    다
3    라
4    마
dtype: object

In [50]:
sample = pd.Series (['10','20','30','40','50'], ['가','나','다','라','마'])
sample

가    10
나    20
다    30
라    40
마    50
dtype: object

In [53]:
sample[['나','라']]

나    20
라    40
dtype: object

In [54]:
np.random.seed(20)
sample2 = pd.Series(np.random.randint(100, 200, size=(15,)))
sample2

0     199
1     190
2     115
3     195
4     128
5     190
6     109
7     120
8     175
9     122
10    171
11    134
12    196
13    140
14    185
dtype: int64

In [55]:
sample2[ sample2<160]

2     115
4     128
6     109
7     120
9     122
11    134
13    140
dtype: int64

In [59]:
sample2[(130<sample2) & (sample2<170)]

11    134
13    140
dtype: int64